<div class="jumbotron">
    <h1>Register New User</h1>
    <p class="lead">Fill out new user information: Name, Sign in name, and password.</p>
    <p><a href="" class=""></a></p>
</div>

<form>
    First Name<br>
    <input type="text" name="firstname" value="first name">
    <br>
    Last Name<br>
    <input type="text" name="lastname" value="last name">
    <br>
    Username<br>
    <input type="text" name="username" value="username">
    <br>
    Password<br>
    <input type="text" name="password" value="password">
    <br><br>
    <input type="submit" value="Submit">
</form> 