<div class="jumbotron">
    <h1>Dashboard</h1>
    <p class="lead">User options, start new account, make transactions, view account transaction history etc...</p>
    <p><a href="" class=""></a></p>
</div>