<div class="jumbotron">
    <h1>Transaction</h1>
    <p class="lead">Make transactions. Chose deposit or withdraw and set amount for transaction on selected account.</p>
    <p><a href="" class=""></a></p>
</div>